<div *ngIf="components$ | async as components">
  <div *ngFor="let component of components; let index = index">
    <div [ngSwitch]="component.__component">
      <ng-container *ngSwitchCase="'components.alert'">
        <app-alert [content]="component.Content" />
      </ng-container>

      <ng-container *ngSwitchCase="'components.card'">
        <app-card
          [title]="component.relational_field.data.attributes.Title"
          [subtitle]="component.relational_field.data.attributes.Subtitle"
          [image]="
            getImage(
              component.relational_field.data.attributes.Image.data.attributes
                .formats.large.url
            )
          "
        >
          <button nbButton>
            <a nbLink routerLink="/home">RETURN TO HOME</a>
          </button></app-card
        >
      </ng-container>
    </div>
  </div>
</div>
