<footer *ngIf="footerItems$ | async as navItems" class="footer" #footer>
  <ng-container *ngFor="let navItem of navItems">
    <ng-container *ngIf="!navItem?.children?.length; else menuButton">
      <a
        *ngIf="navItem?.isExternal; else internalLinkTmp"
        mat-button
        [href]="navItem?.href"
        [target]="navItem?.target"
        ><img
          class="footer_icon"
          *ngIf="navItem?.icon; else titleTmp"
          [src]="strapiBaseUrl + navItem?.icon"
      /></a>
      <ng-template #internalLinkTmp>
        <a
          mat-button
          [routerLink]="navItem?.href"
          routerLinkActive="active-link"
          ><img
            class="footer_icon"
            *ngIf="navItem?.icon; else titleTmp"
            [src]="strapiBaseUrl + navItem?.icon"
        /></a>
      </ng-template>
    </ng-container>

    <ng-template #titleTmp>{{ navItem?.title }}</ng-template>
    <ng-template #menuButton>
      <button mat-button [matMenuTriggerFor]="menu">
        {{ navItem?.title }}
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let childLink of navItem?.children">
          <app-navigation-item [navItem]="childLink">
            <ng-container *ngFor="let nestedChildLink of childLink?.children">
              <app-navigation-item [navItem]="nestedChildLink">
              </app-navigation-item>
            </ng-container>
          </app-navigation-item>
        </ng-container>
      </mat-menu>
    </ng-template>
  </ng-container>
</footer>
