<nb-layout>
  <nb-layout-header fixed>
    <ul *ngFor="let headerItem of headerData$ | async">
      <a nbLink [routerLink]="headerItem.attributes.Slug">{{
        headerItem.attributes.Title
      }}</a>
    </ul>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer>
    <ul *ngFor="let footerItem of footerData$ | async">
      <a nbLink [href]="footerItem.Href" [target]="footerItem.Target">{{
        footerItem.Text
      }}</a>
    </ul>
  </nb-layout-footer>
</nb-layout>
