<nb-layout>
  <nb-layout-header fixed>
    <ul *ngFor="let headerItem of headerData$ | async">
      <a nbLink [routerLink]="headerItem.attributes.Slug">{{
        headerItem.attributes.Title
      }}</a>
    </ul>
  </nb-layout-header>
  <nb-layout-column>
    <div *ngFor="let new of news$ | async; let index = index">
      <nb-card status="success">
        <nb-card-header>{{ new.Title }}</nb-card-header>
        <nb-card-body>
          <h6>{{ new.Subtitle }}</h6>
          <p *ngIf="newContent[index]">{{ newContent[index] }}</p>
          <img
            *ngIf="new.Image"
            srcset="
              http://localhost:1337/uploads/thumbnail_sport_9324f828a2.jpg  320w,
              http://localhost:1337/uploads/small_sport_9324f828a2.jpg      576w,
              http://localhost:1337/uploads/medium_sport_9324f828a2.jpg     768w,
              http://localhost:1337/uploads/large_sport_9324f828a2.jpg     1200w
            "
            sizes="(max-width: 320px) 280px,
            (max-width: 576px) 520px,
            (max-width: 768px) 720px,
            1140px"
            src="http://localhost:1337/uploads/large_sport_9324f828a2.jpg"
            alt="Responsive Image"
          />
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card>
      <h2>{{ new.Title }}</h2>
    </div>
  </nb-layout-column>
  <nb-layout-footer>
    <ul *ngFor="let footerItem of footerData$ | async">
      <a nbLink [href]="footerItem.Href" [target]="footerItem.Target">{{
        footerItem.Text
      }}</a>
    </ul>
  </nb-layout-footer>
</nb-layout>
